html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: sans-serif;
}

body {
    box-sizing: border-box;
    background-color: transparent ;
}


nav ul {
    list-style:none;
}


table {
    border-collapse:collapse;
    border-spacing:0;
}

.container{
	max-width: 1212px;
	margin: 0 auto;
	padding: 0 10px;
 }

 .yes{
	 color: rgb(163, 4, 4);
	 text-transform: uppercase;
 }
 .no{
	 color: rgb(53, 134, 28);
	 text-transform: uppercase;
	
 }

 .close-btn{
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 24px;
	i{
		color: #fff;
	}
}

.pagination{
	display: flex;
	justify-content: center;
	a{
		text-decoration: none;
		color: #d1a025;
		margin: 0 10px;
	}
}

.btn{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	background-color: $second-col;
	padding: 8px 10px;
	border-radius: 5px;
	font-weight: 700;
	transition: all ease-in 0.2s;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border: 2px solid #99751b;
	cursor: pointer;
	&:hover{
		background-color: #d1a025;
		
	}
	&:active{
		transform: translate(2px, 2px);
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	}
}