.profiles{
	height: calc(100vh - 124px - 40px);
	background-color: #002668;
	position: relative;
	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		a{
			text-decoration: none;
		}
		img{
			border: 2px solid #d1a025;
		}
	}

	&__item {
		text-align: center;
		margin: 10px 20px;
		padding: 30px 5px;
		width: 200px ;
		background: #5e5c5969;
		color: #fff;
		list-style: none;
		border-radius: 5px;

	}
	&__placeholder{
		font-size: 45px;
		font-weight: 700;
		color: #fff;
		
	}
}


