.profiles{
	height: calc(100vh - 124px);
	background-color: #002668;
	position: relative;
	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item {
		text-align: center;
		margin: 10px 20px;
		padding: 30px 5px;
		width: 200px ;
		background: #5e5c5969;
		color: #fff;
		list-style: none;
		border-radius: 5px;

	}
}


